<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Users Manager</title>
</head>
<body>
<div align="center">
    <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>

    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout" />
    </form>

    <h1>User Information</h1>
    <a href="new">Create New User</a>

    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>

            <th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}">Product ID</td>
            <td th:text="${user.getName()}">Name</td>
            <td th:text="${user.getAge()}">Age</td>
            <td th:text="${user.getEmail()}">Email</td>

            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{'/edit/' + ${user.getId()}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${user.getId()}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>